html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
.header {
  background-image: linear-gradient(30deg, #826677, #30697d, #826677);
  padding-bottom: 430px;
}
.logo {
  float: left;
  margin-top: 90px;
}
.email {
  float: right;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Montserrat';
  margin: 0;
  margin-top: 106px;
}
.main-title {
  font-size: 65px;
  font-family: 'Montserrat';
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.308;
  text-align: center;
  letter-spacing: 0.22em;
  margin-top: 294px;
  margin-bottom: 26px;
}
.main-title::before {
  margin: 0 auto;
  content: '';
  display: block;
  background-color: rgb(255, 255, 255);
  opacity: 0.502;
  width: 610px;
  height: 3px;
  margin-bottom: 30px;
  position: relative;
  right: 0.7%;
}
.main-title::after {
  margin: 0 auto;
  content: '';
  display: block;
  background-color: rgb(255, 255, 255);
  opacity: 0.502;
  width: 610px;
  height: 3px;
  margin-top: 30px;
  position: relative;
  right: 0.7%;
}
.main-title-text {
  font-size: 25px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 400;
  margin: 0;
}
.main {
  padding-top: 100px;
}
.dj-img {
  float: left;
}
.text-area {
  width: 670px;
  float: right;
}
.text-area-title {
  font-size: 18px;
  font-family: 'Montserrat';
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.556;
  text-align: left;
  margin: 0;
  margin-bottom: 44px;
}
.text-area-block {
  font-size: 16px;
  font-family: 'Montserrat';
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.751;
  text-align: left;
  margin: 0;
  letter-spacing: 0.01em;
}
.text-area-block:first-of-type {
  margin-bottom: 44px;
}
.text-area-block:last-of-type {
  margin-bottom: 68px;
}
.button {
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  line-height: 1.751;
  text-align: center;
  background-color: rgb(255, 43, 74);
  width: 202px;
  height: 46px;
  padding-top: 10px;
}
.working-container {
  background-color: #f6f6f6;
  padding-top: 130px;
}
.working-title {
  margin: 0;
  font-size: 40px;
  font-family: 'Montserrat';
  color: rgb(0, 0, 0);
  line-height: 0.7;
  text-align: center;
  margin-bottom: 42px;
}
.working-text {
  font-size: 16px;
  font-family: 'Montserrat';
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.751;
  text-align: center;
  margin: 0;
  margin-bottom: 62px;
}
.working-box {
  width: 282px;
  height: 270px;
  float: left;
}
.working-box:not(:last-of-type) {
  margin-right: 14px;
}
.blue {
  background-color: #10c6fc;
}
.violet {
  background-color: #835aeb;
}
.cyan {
  background-color: #002453;
}
.red {
  background-color: #ff2b4a;
}
.box-text {
  font-size: 16px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.751;
  text-align: center;
}
